*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hero {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url("https://miro.medium.com/max/1400/0*DevFTHKRlh8-EQpt");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.header {
  width: 100vw;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 3rem 1rem 0 1rem;
}
.header .header__logo {
  font-size: 4rem;
  font-weight: 800;
}

@media (min-width: 335px) and (max-width: 757px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .header .header__logo {
    font-size: 3.5rem;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .header__logo {
    font-size: 6rem;
  }
}
.header__nav-bar {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.header__nav-bar .header__nav-bar--item {
  list-style: none;
  display: inline-block;
  position: relative;
}
.header__nav-bar .header__nav-bar--item:hover {
  cursor: pointer;
}
.header__nav-bar .header__nav-bar--item:hover::before {
  transform: scaleX(1);
}
.header__nav-bar .header__nav-bar--item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
.header__nav-bar .nav-bar__about--dropdown,
.header__nav-bar .nav-bar__gallery--dropdown {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5rem;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}
.header__nav-bar .header__nav-bar--about:hover .nav-bar__about--dropdown,
.header__nav-bar .header__nav-bar--about:hover .nav-bar__gallery--dropdown,
.header__nav-bar .header__nav-bar--gallery:hover .nav-bar__about--dropdown,
.header__nav-bar .header__nav-bar--gallery:hover .nav-bar__gallery--dropdown {
  display: block;
}
.header__nav-bar .header__nav-bar--about li,
.header__nav-bar .header__nav-bar--gallery li {
  width: 100%;
}
.header__nav-bar .header__nav-bar--about li:hover,
.header__nav-bar .header__nav-bar--gallery li:hover {
  background-color: rgba(0, 0, 0, 0.55);
}

@media (min-width: 335px) and (max-width: 757px) {
  .header__nav-bar {
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .header__nav-bar .nav-bar__about--dropdown,
.header__nav-bar .nav-bar__gallery--dropdown {
    background-color: transparent;
    color: #000;
    padding: 0;
  }
  .header__nav-bar .nav-bar__about--dropdown li,
.header__nav-bar .nav-bar__gallery--dropdown li {
    text-align: left;
  }
  .header__nav-bar .nav-bar__about--dropdown li:hover,
.header__nav-bar .nav-bar__gallery--dropdown li:hover {
    background-color: transparent;
    color: #2c539b;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .header__nav-bar {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }
  .header__nav-bar .nav-bar__about--dropdown,
.header__nav-bar .nav-bar__gallery--dropdown {
    background-color: transparent;
    color: #000;
    padding: 0;
  }
  .header__nav-bar .nav-bar__about--dropdown li,
.header__nav-bar .nav-bar__gallery--dropdown li {
    font-size: 2rem;
    text-align: center;
  }
  .header__nav-bar .nav-bar__about--dropdown li:hover,
.header__nav-bar .nav-bar__gallery--dropdown li:hover {
    background-color: transparent;
    color: #18811d;
  }
}
.cta {
  position: absolute;
  top: 40%;
  right: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.cta .cta__qoute--big {
  white-space: pre-line;
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem;
}
.cta .cta__quote--small--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
.cta .cta__quote--small--container .cta__quote--small {
  color: #fff;
  font-size: 1.5rem;
  white-space: pre-line;
}
.cta .cta__quote--small--container .cta__quote--btn {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 900;
  outline: none;
  border: 0.2em solid #fff;
  border-radius: 2em;
  height: 3em;
  width: 8em;
  background-color: transparent;
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
}
.cta .cta__quote--small--container .cta__quote--btn:hover {
  background-color: #fff;
  color: #5d676c;
}

@media (min-width: 335px) and (max-width: 757px) {
  .cta {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
  }
  .cta .cta__qoute--big {
    white-space: unset;
    font-size: 3rem;
  }
  .cta .cta__quote--small--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cta .cta__quote--small--container .cta__quote--small {
    font-size: 1.4rem;
  }
  .cta .cta__quote--small--container .cta__quote--btn {
    width: 100%;
    vertical-align: middle;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .cta {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .cta .cta__qoute--big {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .cta .cta__quote--small--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cta .cta__quote--small--container .cta__quote--small {
    color: #fff;
    font-size: 2.5rem;
    white-space: pre-line;
  }
  .cta .cta__quote--small--container .cta__quote--btn {
    width: 100%;
    font-size: 1.7rem;
    vertical-align: middle;
  }
}
.section__title--container {
  padding: 0 10rem;
  width: 100vw;
  max-width: 100%;
}
.section__title--container .section__title--text--container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 335px) and (max-width: 757px) {
  .section__title--container {
    padding: 0 1rem;
  }
  .section__title--container .section__title--text--container {
    flex-direction: column;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .section__title--container {
    padding: 0 5rem;
  }
  .section__title--container .section__title--text--container {
    flex-direction: column;
  }
}
.another__title--container {
  padding: 0.5rem 10rem;
  background-color: #f9f9f9;
}
.another__title--container .another__title--text--container img {
  width: 30%;
  float: left;
  object-fit: contain;
  margin-right: 2rem;
}
.another__title--container .another__title--text--container .another__title--text {
  margin-bottom: 1rem;
}
.another__title--container .another__title--btn {
  color: #5d676c;
  font-size: 1.3rem;
  font-weight: 900;
  outline: none;
  border: 0.2em solid #5d676c;
  border-radius: 2em;
  width: 10em;
  background-color: transparent;
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
  margin: 3rem auto;
  display: block;
}
.another__title--container .another__title--btn:hover {
  background-color: #5d676c;
  color: #fff;
}

@media (min-width: 335px) and (max-width: 757px) {
  .another__title--container {
    padding: 1rem;
  }
  .another__title--container .another__title--text--container img {
    width: 100%;
    margin: 1rem auto;
    float: unset;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .another__title--container {
    padding: 1rem 5rem;
  }
  .another__title--container .another__title--text--container img {
    width: 100%;
    margin: 2rem auto;
    float: unset;
  }
  .another__title--container .another__title--text--container .another__title--text {
    margin: 1 auto;
  }
  .another__title--container .another__title--btn {
    font-size: 3rem;
  }
}
.typography .section__title,
.typography .another__title {
  font-size: 2.5rem;
  color: #53686c;
  margin: 1.5rem 0;
}
.typography .section__title--text,
.typography .another__title--text {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .typography .section__title,
.typography .another__title {
    font-size: 4rem;
  }
  .typography .section__title--text,
.typography .another__title--text {
    font-size: 2rem;
  }
}
.gallery {
  padding: 5rem 0;
}
.gallery .gallery--container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  align-content: center;
  gap: 4%;
}
.gallery .gallery--container img {
  height: 400px;
  width: 40rem;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

@media (min-width: 335px) and (max-width: 757px) {
  .gallery .gallery--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 2rem;
    object-fit: cover;
    object-position: center center;
  }
  .gallery .gallery--container img {
    height: 15rem;
  }
}
.gallery--lightbox {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.gallery--lightbox .gallery--lightbox--modal {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 80vh;
  background-color: #fff;
  margin: auto;
}
.gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box img {
  height: 80%;
  object-fit: cover;
  object-position: center center;
}
.gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box .gallery--lightbox--closeicon {
  font-size: 2.5rem;
  cursor: pointer;
}

@media (min-width: 335px) and (max-width: 757px) {
  .gallery--lightbox {
    background-color: rgba(249, 249, 249, 0.8);
  }
  .gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box {
    justify-content: unset;
  }
  .gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box .gallery--lightbox--closeicon {
    padding-top: 0.5rem;
    padding-right: 1rem;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .gallery--lightbox {
    background-color: rgba(249, 249, 249, 0.8);
  }
  .gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box {
    justify-content: unset;
  }
  .gallery--lightbox .gallery--lightbox--modal .gallery__lightbox--modal--box .gallery--lightbox--closeicon {
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 2.5rem;
  }
}
.footer {
  width: 100%;
  height: 5rem;
  padding: 1rem 4rem;
  background-color: #536467;
}
.footer .footer--allrights {
  color: #fff;
  font-size: 1.1rem;
}

@media (min-width: 335px) and (max-width: 757px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .footer .footer--allrights {
    padding: 0;
    text-align: center;
    font-size: 1rem;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .footer {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .footer .footer--allrights {
    padding: 0;
    font-size: 2rem;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
